<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Lab4ConnectionString" connectionString="Data Source=tcp:serverlab4.database.windows.net,1433;Initial Catalog=Lab4;Persist Security Info=True;User ID=has17@serverlab4;Password=J0s3B3g0" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--Esta es la parte de la web comun a todos-->
  <location path="~/General">
    <system.web>
      <authorization>
        <!--permitimos el paso de todo el mundo-->
        <allow users="*"/>
      </authorization>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
      <httpRuntime/>
    </system.web>
  </location>
  <location path="~/Registrados">
    <system.web>
      <authorization>
        <!--permitimos el paso de todo el mundo-->
        <allow users="?"/>
      </authorization>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
      <httpRuntime/>
    </system.web>
  </location>
  <!--Esta es la parte de alumnos (resgingido a alumnos y profes)-->
  <location path="~/Alumnos">
    <system.web>
      <authorization>
        <!--Estos (Alumno y profesor son las Cookies de sesion)-->
        <allow users="Alumno, Profesor, vadillo@ehu.es"/>
        <deny users="*"/>
      </authorization>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
      <httpRuntime/>
    </system.web>
  </location>
  <!--Esta es la parte de la web de Profesores (restringido a profes)-->
  <location path="~/Profesores">
    <system.web>
      <authorization>
        <allow users="Profesor, vadillo@ehu.es"/>
        <deny users="*"/>
      </authorization>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
      <httpRuntime/>
    </system.web>
  </location>
  <!--Esta es la parte de caracteristicas especiales, solo para Vadillo-->
  <location path="~/Especiales">
    <system.web>
      <authorization>
        <allow users="vadillo@ehu.es"/>
        <deny users="*"/>
      </authorization>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
      <httpRuntime/>
    </system.web>
  </location>
  <!--Esta es la parte de caracteristicas de administracion, solo para admin-->
  <location path="~/Admin">
    <system.web>
      <authorization>
        <allow users="admin@ehu.es"/>
        <deny users="*"/>
      </authorization>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
      <httpRuntime/>
    </system.web>
  </location>
  <system.web>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>